# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.pytest_cache/

# Frontend
node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.*
frontend/*.local

# OS
.DS_Store
